<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tone</key>
	<string>None</string>
	<key>Time</key>
	<date>2014-03-20T08:29:30Z</date>
	<key>Repeat</key>
	<string>Sat Thu</string>
	<key>Snoze</key>
	<string>No</string>
	<key>Episode</key>
	<string>2505</string>
	<key>On</key>
	<string>No</string>
	<key>NotificationTime</key>
	<date>2014-03-20T08:29:30Z</date>
	<key>NotificationRepeat</key>
	<string>Fri Tue</string>
	<key>NotificationSnoze</key>
	<string>No</string>
</dict>
</plist>
